extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Yousef Mokaddem

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Thanks for taking the time to view my portfolio. I'm a techdegree student at treehouse who is passionate about web development. I have taken many computer science courses prior to my techdegree, which I believe gave me a very solid foundation to build my knowledge of the field. I'm always learning and looking for chances to grow. I'm excited by the unknown and always find a solution. If you are considering me for a project or position with your company, please contact me using any of the methods I have provided here.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Javascript
          li Html
          li Css
          li React
          li Express
          li Node.js
          li Learning new things
        h6 Contact Info

        //- Add your own contact info
        ul
          li (226)-220-7066
          li yousefmokaddem96@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(target="_blank" href='https://www.linkedin.com/in/yousef-mokaddem-b465b417a/') LinkedIn
        a.button.expanded(target="_blank" href='https://github.com/YousefMokaddem') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  